.header-box {
  background-color: rgba(0, 0, 0, 0.2);
  height: 58px;
  line-height: 58px;
  width: 100%;
}
.header-box .header-container {
  margin: auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.header-box .header-container .header-right {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
